<div class="stud_list">
<p id="notice"><%= notice %></p>
    <h1><%= t('students.student_list') %></h1>
</div>
<table class="stud_table table table-dark">
  <thead>
    <tr>
      <th><%= t('students.first_name')%></th>
      <th><%= t('students.last_name')%></th>
      <th><%= t('students.year_of_birth')%></th>
      <th><%= t('students.gender')%></th>
      <th><%= t('students.address')%></th>
      <th><%= t('students.fathers_name')%></th>
      <th><%= t('students.mothers_name')%></th>
      <th><%= t('students.email')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.year_of_birth %></td>
        <td><%= student.gender %></td>
        <td><%= student.address %></td>
        <td><%= student.fathers_name %></td>
        <td><%= student.mothers_name %></td>
        <td><%= student.email %></td>
        <td><%= link_to t('global.show'), student , class: "btn btn-info"%></td>
        <td><%= link_to t('global.edit'), edit_student_path(student) , class: "btn btn-info"%></td>
        <td><%= link_to t('global.destroy'), student, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to t('students.new_student'), new_student_path, class: "btn btn-info" %>
</div>