<table class="books_listings table table-dark">
  <thead>
    <tr>
      <th><%= t('items.isbn')%></th>
      <th><%= t('items.title')%></th>
      <th><%= t('items.description')%></th>
      <th><%= t('items.author')%></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= link_to t('global.show'), book , class: "btn btn-info"%></td>
        <td><%= link_to t('global.edit'), edit_book_path(book) , class: "btn btn-info"%></td>
        <td><%= link_to t('global.destroy'), book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
